<div class="container col-lg-6 offset-lg-3">
  <div class="d-flex justify-content-around">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-mobile-width shadow-sm p-5' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <p class="h4 theme-color text-center mb-4">Resend confirmation instructions</p>    

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
      </div>

      <div class="actions mb-4">
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary mt-3' %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>

