<% if params[:type] == "single" %>
    <hr>
    <b id="comments">Comments</b>
    <% @prayer.comments.each do |c| %>
      <%= render 'comments/show', comment: c %>
    <% end %>
    <% if user_signed_in? %>
      <span id="new_comment">
      <%= form_with url: comments_path, model: @comment, class: 'form-mobile-width' do |f| %>
        <div class="form-group">
          <%= f.label 'Comment: ' %>
          <%= text_field_tag 'comment[content]', "", class: 'form-control', required: true %>
        </div>
        <%= hidden_field_tag 'comment[prayer_id]', @prayer.id %>
        <%= hidden_field_tag 'comment[user_id]', current_user.id %>
        <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %>
      <% end %> 
    <% else %>
        <b>please sign up to post comment!</b>
    <% end %>
<% end %>