<div class="container col-lg-10 offset-lg-1">
  <div class="d-flex justify-content-around">
    <%= form_for @user, html: {class: 'form-mobile-width shadow-sm p-5'} do |f|%>
      <p class="h4 theme-color text-center mb-4">Knowing you better</p>    

      <div class="form-group">
        <%= f.label 'Your Name (Optional): ' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Your church (Optional) ' %>
        <%= f.text_field :church, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'What is your current life stage? (Optional) ' %>
        <%= f.text_area :current_life_stage, class: 'form-control', rows: "5" %>
      </div>
      <div>
        <%= f.label 'Upload profile picture'%>
        <%= f.file_field :profile_image, direct_upload: true %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-sm btn-primary mt-2 mb-4' %>
      <p><%= link_to "Want to change password?", edit_user_registration_path %></p>
    <% end %>
  </div>
</div>
