<div class="container p-4">
  <h2><%= @user.name %></h2>
  <div class="row">
    <div class="col-sm-4 p-3">
      <div class="row">
        <% if @user.profile_image.attached? %>
          <%= image_tag url_for(@user.profile_image), class: "style-profile-image"%>
        <% end %>
      </div>
      <hr/>
      <div class="user-content">
        <p>
          <i class="fas fa-signature"></i>
          <span><%= @user.name %></span>
        </p>
        <p>
          <i class="fas fa-at mr-1"></i>
          <span><%= @user.email %></span>
        </p>
        <p>
          <i class="fas fa-church"></i>
          <span><%= @user.church %></span>
        </p>
        <p>
          <i class="fas fa-id-badge mr-2"></i>
          <span><%= @user.current_life_stage %></span>
        </p>
      </div>
      <hr/>
      <div>
        <div class="card">
          <h5 class="p-3"> Pending friend request: </h5>
          <% @user.friendships.each do |friendship| %>
            <% if friendship.status === "pending" %>
              <div class="card-body">
                <% friend = User.find(friendship.friend_id) %>
                <p><span> Name: <%= friend.name %></span></p>
                <p><span> Church: <%= friend.church %></span></p>
                <hr/>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <h4 class="theme-color text-center"> Your prayer requests 
        <%= fa_icon('pray 1x', type: :solid, class: 'theme-color icon-font-size') %>
      </h4>
      <table class="table table-striped">
        <thead>
          <tr class="bg-primary">
            <th scope="col">#</th>
            <th scope="col">Prayer</th>
            <th scope="col">Posted on</th>
          </tr>
        </thead>
        <tbody>
          <% @user.prayers.each_with_index do |prayer, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <!-- link to prayer SHOW page next time -->
              <td><%= prayer.request %></td>
              <td><%= prayer.created_at.strftime('%d/%m/%Y')%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
