<div class="container col-lg-6 offset-lg-3">
  <div class="d-flex justify-content-around">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: 'form-mobile-width  shadow-sm p-5'}) do |f| %>

      <p class="h4 theme-color text-center mb-4">Login</p>    

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Your email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Your password', class: 'form-control' %>
      </div>

      <div class="d-flex justify-content-around">
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>

      <div class="actions mb-4">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
      <p><%= render "devise/shared/links" %></p>
    <% end %>
  </div>
</div>
