<div class="container">
  <h1><strong>  This, then, is how you should pray: </strong></h1>
  <p class="lord-prayer">   Our Father in heaven,
        hallowed be your name,
        your kingdom come,
        your will be done,
        on earth as it is in heaven.
        Give us today our daily bread.
        And forgive us our debts,
        as we also have forgiven our debtors.
        And lead us not into temptation,
        but deliver us from the evil one. (Mat 6:9-13)
  </p>
  <div class="row mb-5 mt-4">
    <div id="index_make_prayer" class="col-sm-6 mb-3">
      <div class="card">
        <%= image_pack_tag 'media/src/images/prayer-bible.jpg', alt: 'prayer-hand', class: 'img-fluid rounded float-left'%>
        <div class="card-body text-center">
          <p class="card-text about-font">Have something you need support in? Try this!</p>
          <%= link_to 'Make a Prayer', new_prayer_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
    <div id="index_show_prayers" class="col-sm-6">
      <div class="table-wrapper-scroll-y custom-scrollbar">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><h5>Prayer Requests</h5></th>
              <th scope="col"><h5>User</h5></th>
            </tr>
          </thead>
          <tbody>
            <% @prayers.where(is_deleted:false).limit(10).order(created_at: :desc).each_with_index do |prayer, index|%>
              <tr>
                <td><%= prayer.request%></td>
                <td>
                  <%= prayer.user_particulars['name'].present? ? prayer.user_particulars['name'] : 'Anonyomous' %>
                  <br>
                  <%= link_to 'Report as spam', report_spam_path(prayer_id: prayer.id), method: :post, data: {confirm: 'Are you sure this is spam?'}, class: 'small' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row mt-3 text-center">
        <div class="col-sm-6">
          <%= link_to 'Pray for a single request', prayer_request_path(type: 'single'), class: 'btn btn-primary' %>
        </div>
        <div class="col-sm-6">
          <%= link_to 'Pray for multiple requests', prayer_request_path(type: 'multiple'), class: 'btn btn-primary' %>
        </div>     
      </div>
    </div>
  </div>
</div>
