<div class="container">
  <h1><strong>  This, then, is how you should pray: </strong></h1>
  <p class="lord-prayer">   Our Father in heaven,
        hallowed be your name,
        your kingdom come,
        your will be done,
        on earth as it is in heaven.
        Give us today our daily bread.
        And forgive us our debts,
        as we also have forgiven our debtors.
        And lead us not into temptation,
        but deliver us from the evil one. (Mat 6:9-13)
  </p>
  <div class="row mb-3">
    <div class="col-sm-6">
      <%= image_pack_tag 'media/src/images/prayer-bible.jpg', alt: 'prayer-hand', class: 'img-fluid rounded float-left'%>
    </div>
    <div class="col-sm-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prayer Requests</th>
            <th scope="col">Posted</th>
          </tr>
        </thead>
        <tbody>
          <% @prayers.limit(10).order(created_at: :desc).each_with_index do |prayer, index|%>
            <tr>
              <th scope="row"><%= index + 1%></th>
              <td><%= prayer.request%></td>
              <td><%= prayer.created_at.strftime('%d-%m-%y %H:%M')%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <%= link_to 'Make a prayer', new_prayer_path(), class: 'btn btn-success' %>
    </div>
    <div class="col-md-6 text-center">
      <%= link_to 'Pray for someone', '/prayers/show', class: 'btn btn-primary' %>
    </div>        
  </div>
</div>
