<!DOCTYPE html>
<html>
  <head>
    <title>Prayers Letter box</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_pack_tag 'media/src/images/praying_hands_emoji_logo.ico'%>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <%= flash_messages %>
    <%= yield %>
    <hr>
    <footer>
      <div class="footer-copyright text-center py-2">Providence Presbyterian Church 2020:
        <a href="/"> COVID-19 Prayer Support</a>
      </div>
    </footer>
  </body>
</html>
